@charset "UTF-8";
.list-block__list {
  padding: 0; }

.list-block__item {
  color: #8c8c8c;
  border-radius: 4px;
  list-style: none;
  border: 2px solid #efefef;
  background: #f2f2f2;
  font-family: "Arial", sans-serif;
  transition: all 0.2s ease-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 80px;
  padding-left: 8px; }
  .list-block__item a {
    width: 100%;
    color: #8c8c8c;
    text-decoration: none; }
  @media (max-width: 500px) {
    .list-block__item {
      padding: 20px;
      text-align: center; } }
  .list-block__item:before {
    content: "⥤";
    color: white;
    text-shadow: 1px 1px 1px #bfbfbf;
    font-size: 16px;
    margin-right: 8px; }
    @media (max-width: 500px) {
      .list-block__item:before {
        display: none; } }
  .list-block__item:hover {
    border-color: transparent;
    animation: hover 1s forwards;
    animation-direction: alternate;
    position: relative; }
    .list-block__item:hover:before {
      text-shadow: none;
      transition: 0.2s;
      margin-left: -4px;
      margin-right: 12px; }
  .list-block__item:not(:last-child) {
    margin-bottom: 16px; }

@keyframes hover {
  5% {
    background: #c9c9c9;
    text-shadow: 10px 10px 11px #bfbfbf; }
  50% {
    text-shadow: 1px 1px 1px #bfbfbf; }
  100% {
    background: #d9d9d9;
    color: #737373; } }
